
textarea{
    resize: none;
}

#background{
    background-color: #1B1B1B;
    margin-left:20%;
}

#contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    padding-left: 30%;
    padding-right: 30%;
    row-gap: 1em;
    
}

.name{
    display: flex;
    flex-direction: column;
}
