

/*Body Paragraphs*/

#Sam{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #100e0e;
    border-radius: 10px;
    box-shadow:  5px 5px white;
    padding: 10px;
}

#Sam:hover{
    border: 3px solid white;
}

h3{
font-size: 25px;
}

#Products{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #100e0e;
    box-shadow:  5px 5px white;
    border-radius: 10px;
    padding: 10px;
}
#Products:hover{
    border: 3px solid white;
}

#Acessibility{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #100e0e;
    box-shadow:  5px 5px white;
    border-radius: 10px;
    padding: 10px;
}
#Acessibility:hover{
    border: 3px solid white;

}

p{
    width: 200px;
    color: white;
    font-size: 20px;
}

/*images container*/

#images{
    width: 500px;
    display: flex;
    justify-content: center;
    column-gap: 30px;   
}
img{
    margin: 20px;
    width: 200px;
    border-radius: 10px;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#title{
    padding-left: 100px;
    font-size: 70px;
}
