img{
    width: 25px;
    height: auto;
    margin-left: 10px;
}

main {
    display: flex;
    align-items: center;
}

#skills-container{

    height: 300px;
    width: 400px;
    background-color: aliceblue;
    border-radius: 3%;
    margin-left: 10%;
   
}

#skills-title{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 70px;
    margin-bottom: 20px;
}

.languages{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
    font-size: 30px;
}
#skills-info{
    display: grid;
    grid-template-columns: 1fr ;
}